<%= form_for(@idea) do |idea_form| %>
  <% if @idea.errors.any? %>
  <div id="errorExplanation">
    <h3><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h3>
    <ul>
    <% @idea.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 
  <div class="field">
    <%= idea_form.label :title %><br />
    <%= idea_form.text_field :title %>
  </div>

  <div class="field">
	<%= idea_form.check_box :visible %>
	<%= idea_form.label :visible, "Make idea public?" %>
  </div>
	
  <div class="actions">
    <%= idea_form.submit %>
  </div>
<% end %>