<h2>Your Ideas</h2>

<table id="ideaTable">
 
<% @ideas.each do |idea| %>
  <tr>
    <td><%= idea.title %></td><br/>
	<td><%= idea.user_id %></td>
	<td><% if idea.bubbles_count != nil %><%= idea.bubbles_count %><% else %>0<% end %></td><br/>
	<td><% if idea.pops_count != nil %><%= idea.pops_count %><% else %>0<% end %></td><br/>
    <td><%= link_to 'Show', idea %></td>
    <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
    <td><%= link_to 'Delete', idea, :confirm => 'Are you sure you want to delete your idea?', :method => :delete %></td>
  </tr>
<% end %>
</table>
 
<br />
 
<%= link_to 'New Idea', new_idea_path %>
