<p>
	<b>Title:</b>
  	<%= @idea.title %>
</p>

<p>
	<b>Description:</b>
  	<%= @idea.content %>
</p>

<p>
	<b>Bubbles:</b>
	<% @idea.bubbles.each do |bubble| %>
		<%= bubble.description %>
		<%= link_to 'Delete', [bubble.idea, bubble], :confirm => 'Are you sure you want to delete this bubble?', :method => :delete %>
		<br/>
	<% end %>
</p>

<br/>

<p>
	<b>Pops:</b>
	<% @idea.pops.each do |pop| %>
		<%= pop.description %>
		<%= link_to 'Delete', [pop.idea, pop], :confirm => 'Are you sure you want to delete this pop?', :method => :delete %>
		<br/>
	<% end %>
</p>

<br/>

<h2>Add a Bubble:</h2>
<%= form_for([@idea, @idea.bubbles.build]) do |f| %>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<br/>

<h2>Add a Pop:</h2>
<%= form_for([@idea, @idea.pops.build]) do |f| %>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
 
 
<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>