<!DOCTYPE html>
<html>
<head>
  <title>Bubblerr</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	
	<div id="container">
		
		<div id="userNav">
			<% if user_signed_in? %>
				Signed in as <%= current_user.username %>
				<%= link_to 'Account', edit_user_registration_path %>
				<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
			<% else %>
				<%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
			<% end %>
		</div>
		
		<div id="header">
			<div style="width:700px;float:right;" class="headerClass">
				
			</div>
		</div>
		
		<div id="content">
			
			<%= yield %>
		
		</div>
		
	</div>

</body>
</html>
